<div class="panel panel-default">
    <div class="panel-heading">
        Question Put to Vote
        <button data-ng-click="$ctrl.onCancel()" class="btn btn-xs btn-danger">&times;</button>
    </div>
    <div class="panel-body">
        <form>
            <div class="form-group">
                <label for="question-prompt">Prompt</label>
                <input id="question-prompt" data-ng-model="$ctrl.question.prompt" type="text" class="form-control" autocomplete="off"></input>
            </div>
            <div class="form-group">
                <label for="question-summary">Summary</label>
                <textarea id="question-summary" data-ng-model="$ctrl.question.summary" type="text" class="form-control"  autocomplete="off"></textarea>
            </div>
            <div class="form-group">
                <label for="question-begin-time">begin</label>
                <!--<div uib-datepicker-popup ng-model="$ctrl.question.begin"></div>-->
                <div uib-timepicker ng-model="$ctrl.question.begin" xng-change="changed()" hour-step="1" minute-step="1"></div>
                <p class="lead">{{$ctrl.question.begin | date:'short'}}</p>
            </div>
            <div class="form-group">
                <label for="question-end-time">end</label>
                <div uib-timepicker ng-model="$ctrl.question.end" xng-change="changed()" hour-step="1" minute-step="1"></div>
                <p class="lead">{{$ctrl.question.end | date:'short'}}</p>
            </div>
            <p class="lead" ng-if="$ctrl.question.end && $ctrl.question.begin">Duration: {{$ctrl.question.end | amDifference : $ctrl.question.begin : 'minutes'}} minutes</p>
            <button type="submit" class="btn btn-primary" data-ng-click="$ctrl.submit()">Submit</button>
            <code><pre>{{$ctrl.question | json:4}}</pre></code>
        </form>
    </div>
</div>
