<div class="page-header">
    <h2>Question {{$ctrl.question.id}}</h2>
</div>

<div class="container">
    <p class="lead">{{$ctrl.question.prompt}}</p>
    <p>{{$ctrl.question.summary}}</p>
    <p>{{$ctrl.question.begin | date:'short'}} &mdash; {{$ctrl.question.end | date:'short'}} ({{$ctrl.question.end | amDifference : $ctrl.question.begin : 'minutes'}} minutes)</p>
    <ul>
        <li data-ng-repeat="decision in $ctrl.decisions">{{decision.title}} <button data-ng-click="$ctrl.deleteDecision(decision.id)" class="btn btn-xs btn-danger">x</button></li>
    </ul>
    
    <hr>
    <p>Add decision to this question?</p>
    <form>
        <div class="form-group">
            <label for="new-decision-title"></label>
            <input id="new-decision-title" type="text" data-ng-model="$ctrl.newTitle" />
        </div>
        <button data-ng-click="$ctrl.submitDecision($ctrl.newTitle)" class="btn btn-primary">+</button>
    </form>
</div>

<div>
    <code><pre>{{$ctrl.question | json:4}}</pre></code>
    <code><pre>{{$ctrl.decisions | json:4}}</pre></code>
</div>
